.Select {
  padding: 8px 0 12px 0;
  display: flex;
  flex-direction: column;

  &-label {
    color: #262A3F;
    font-weight: bold;
    padding-bottom: 4px;
  }

  &-field {
    background-color: #F8F8F8;
  }
}
