.Loader {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: rgba(16, 156, 241, 1);
  height: 160px;
  width: 220px;
  position: absolute;
  top: 50vh;
  left: 50vw;
  margin-top: -80px;
  margin-left: -110px;
}
