.Country {
  &-title {
    span {
      font-weight: bold;
    }
  }

  &-subTitle {
    max-width: 120px;
    padding-top: 0;
    padding-bottom: 0;

    &-warning {
      background-color: rgba(252, 243, 197, .5);

      &:hover {
        background-color: rgba(252, 243, 197, 1);
      }
    }

    &-warningCustom {
      background-color: rgba(221, 252, 197, .7);

      &:hover {
        background-color: rgba(221, 252, 197, 1);
      }
    }
  }

  &-text {
    span {
      font-weight: bold;
      color: #DF7615;
    }
  }

  &-button {
    background-color: #DDEFFF;

    &:hover {
      background-color: #C1E8FF;
    }
  }

  &-subList {
    padding-left: 72px;
  }

  &-flag span {
    font-size: 30px;
  }

  &-ButtonLink {
    margin-top: 16px;
    text-decoration: none;
    background-color: rgba(16, 156, 241, 1);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-block;
    text-align: center;
  }
}
