.CountryListItem {
  background-color: transparent;
  transition: background-color .2s ease-out;
  border-bottom: 1px solid #EBEFF2;

  &:hover {
    cursor: pointer;
    background-color: #DDEFFF;
  }

  &-avatar {
    background-color: transparent;
    font-size: 2rem;
  }
}
