.NavLink {
  text-decoration: none;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: transparent;
  color: #262A3F;
  padding: 8px 16px;

  &.NavLink-active {
    font-weight: bold;
    color: #1565c0;
    border-bottom-color: #1565c0;
    line-height: 1.25;
  }
}
