.ListItemSubtitle {max-width: 120px;
  padding-top: 0;
  padding-bottom: 0;

  &-text {
    span {
      font-weight: bold;
    }
  }

  &-value {
    span {
      font-weight: bold;
      color: #DF7615;
    }
  }
}
